.App {
  text-align: center;
}
*, *:before, *:after{
   margin: 0;
   padding: 0;
 }
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1,h2,h3,h4,h5,h6{
  text-align: left;
}
.items-holder {
  padding: 20px 10px 0;
}
ul.items{
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.thumb {
  background-color: burlywood;
  max-width: 100%;
}
.thumb-image{
  width: 100%;
  overflow: hidden;
  height: 0;
  position: relative;
  padding-bottom: 50%;
}

.thumb-image img{

}
img.originally-wide{
  width: 100%;
}
img.originally-tall{
  height: 100%;
}
.genres-wrp, .links-wrp {
  text-align: left;
}
ul {
  list-style: none;
  text-align: left;
}
ul > li {
  display: inline-block;
}
header.main-header{
  background-color: #23564f;
  height: 54px;
}

ul.filter-by.items {
    font-size: 9px;
    color: #eee;
}

nav.filter-master {
    height: auto;
    background-color: #eee;
    padding: 4px 0 0 0;
}

nav.filter-detail {
    min-height: 22px;
    height: auto;
    background-color: #888;
    color: #fff;
    padding: 4px 0 0 0;
}

li.filters,li.filter-by {
    margin: 6px 10px;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.2);
    padding: 3px 9px;
}
li.filters.master.expanded {
  color: #333;
}
li.filters.master {
  color: #aaa;
}
button.button{
  width: 30px;
  height: 30px;
}