.App {
  text-align: center;
}
*, *:before, *:after{
   margin: 0;
   padding: 0;
 }
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1,h2,h3,h4,h5,h6{
  text-align: left;
}
.items-holder {
  padding: 0px 1px 0;
    position: relative;
}
ul.items{
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 14px 21px;
  grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: 2;
}
.thumb {
    background-color: #ffffffff;
    max-width: 100%;
    overflow: hidden;
    border-radius: 1000px 1000px 0 0;
}
.anima-enlarge{
    animation: entrance-anima;
    animation-duration: 0.5s;
}

@keyframes entrance-anima {
  from {
    transform: scale(.85);
  }
  to {
    transform: scale(1);
  }
}
.thumb-image{
  width: 100%;
  overflow: hidden;
  height: 0;
  position: relative;
  padding-bottom: 50%;
}

.thumb-image img{

}
img.originally-wide{
  width: 100%;
}
img.originally-tall{
  height: 100%;
}
.genres-wrp, .links-wrp {
  text-align: left;
}
ul.items.genres-wrp, ul.items.links-wrp {
  text-align: left;
}
ul {
  list-style: none;
  text-align: left;
}
ul > li {
  display: inline-block;
}
header.main-header{
  background-color: #23564f;
  height: 54px;
}

ul.filter-by.items {
    font-size: 9px;
    color: #eee;
}

nav.filter-master {
    height: auto;
    background-color: #eee;
    padding: 4px 0 0 0;
}

nav.filter-detail {
    min-height: 22px;
    height: auto;
    background-color: #888;
    color: #fff;
    padding: 4px 0 0 0;
}

li.filters,li.filter-by {
    margin: 6px 10px;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.2);
    padding: 3px 9px;
}
li.filters.master.expanded {
  color: #333;
}
li.filters.master {
  color: #aaa;
}
button.button{
  width: 30px;
  height: 30px;
}
.filter-by.item{
  transition: all 0.1s ease-in;
}
.filter-by.item.chosen{
  background-color: #23564f;
}
main {
    padding: 0px 100px 100px 100px;
    position: relative;
    overflow: hidden;
}


.bkg-wrp{
    filter: none;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0;

}
.bkg{
    height: 104%;
    position: absolute;
    width: 104%;
    left: -2%;
    top: -2%;
    filter: blur(16px);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    transition: background-position-y 0.25s ease-out;
    background-repeat-y: repeat;

}
.bkg2{
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: 3px;
    background-position-x: center;
    background-position-y: top;
    opacity: 0.75;
    mix-blend-mode: overlay;
}
.bkg-color{
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 1;
    mix-blend-mode: overlay;
    background-color: #fff;
}

img.parallex-image {
    width: 100%;
    height: 100%;
}
:root {
    --expanded-item-holder-height-desktop: 154px;
}

.expanded-item-inner-txt-wrp{
    display: inline-block;
    float: left;
    width: 150px;

}
.genres-wrp {
    display: inline-block;
    float: left;
    width: 250px;
}

  .expanded-tab-thumb-image {
    width: 150px;
    float: left;
}

#expand_player_group_wrp {
    height:  0px;
    bottom: 0px;
    /* outline: 4px dashed red; */
    background: rebeccapurple;
    width: 100%;
    position: fixed;
    z-index: 9;
    left: 0;
}
#expand_player_group_wrp .react-player-wrp{
    height: 50px;
    top: 0;
}
 #expand_player_group_wrp .expanded-item-holder .links-wrp{
    width: 240px;
    float: right;
  }
  #expand_player_group_wrp .expanded-item-holder{
  transition: bottom 0.3s ease-out;
    position: fixed;
    height: var(--expanded-item-holder-height-desktop);
    width: 100%;
    background-color: #dfdfdf;
    left: 0;
    z-index: 10;
    filter: drop-shadow(0px 0px 20px #444488);
  }
  #expand_player_group_wrp .expanded-item-holder.unactive{
        bottom: calc(0px - var(--expanded-item-holder-height-desktop));
  }
  #expand_player_group_wrp .expanded-item-holder.active{
        bottom: 0;

  }
  
  .player-wrapper,.range-wrp,.controls-wrp{
    width: 150px;
    height: 50px;
    float: left;
  }

  #expand_player_group_wrp .react-player-wrp {
    height: 50px;
    top: 0;
    display: grid;
    grid-gap: 14px 21px;
    grid-template-columns: 0.25fr 1fr 1fr 1.75fr;
}
  #expand_player_group_wrp .expanded-item-inner-wrp {
    height: 50px;
    top: 0;
    display: grid;
    grid-gap: 14px 21px;
    grid-template-columns: 0.25fr 1fr 1fr 1.75fr;
}

